.icons 
{
    min-height:fit-content;
}
.icons img {

	height: 30px;
	width: 30px;
	margin: 0px 5px;
    
    
}


.colonne1 {
	height: 10px;
}
.colonne2 {
   margin :0 10vw;
}
.icons img:hover
{
       
        border: 20px;
        border-radius: 50px;
        transform: translateY(-10px);
        border: 0.2vw solid #c1c1c1;
    
}
.icons2 i:hover {
    border: 20px;
    border-radius: 50px;
    transform: translateY(-10px);
    border: 0.2vw solid #c1c1c1;

}
.titreprincipal
{
    color: #c1c1c1;
  
    display: inline;


}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





body {
    background-color: #000;
   
}

.line{
    width: 80vw;
    height: 10px;
    border-bottom: 1px solid #c1c1c1;
    opacity: 0.6;
    position: absolute;
    }
    .kline{
        margin-top: 20px;
        width: 80vw;
        height: 10px;
        border-bottom: 1px solid #c1c1c1;
        opacity: 0.6;
        position: absolute;
        }
    .line456{
        margin-top: 20px;
        width: 80vw;
        height: 10px;
        border-bottom: 1px solid #c1c1c1;
        opacity: 0.6;
        position: absolute;
        }

        .footer-distributed{
            display: flex;
            margin-top: 20px;
           
            justify-content: space-between;
            align-items: center;
            
            background: #000;
            width: 100%;
            font: bold 16px sans-serif;
            
            
        }
        
        section {
          width: 100%;
          display: inline-block;
          background: #ccc;
          height: 60vh;
          text-align: center;
          font-size: 22px;
          font-weight: 700;
          text-decoration: underline;
        }
        
        
        .titlogo img {
            margin-left: -7vw;
            width: 40%;
           
        }
        
        
        
        .footer-distributed h3{
            color:  #ffffff;
            font: normal 36px;
            
        }
        
        .footer-distributed h3 span{
            color:  #3a6efd;
        }
        
        .titlogo {
            display: flex;
            align-items: center;
            margin-top: -20px;
            margin-left: 6vw;
            width: 20vw;
            
        
        }
        
        .footer-distributed .footer-links{
            width: 30vw;
            margin-left: 0vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color:  #ffffff;
            
        }
        
        .footer-distributed .footer-links a{
            display:inline-block;
            line-height: 1.8;
            text-decoration: none;
            color:  inherit;
            
        }
        
        .footer-distributed .footer-company-name{
            color:  #8f9296;
            margin-top: 12vw;
            margin-left: 0vw;
            font-size: 14px;
            font-weight: normal;
            
        }
        .footer-left
        {
            margin-top: 20px;
        }
        
        
        
        
        
        
        
        
        
        
        .footer-distributed .footer-right{
            float: right;
        }
        
        .footer-distributed .footer-right p{
            display: inline-block;
            vertical-align: top;
            margin-top: -20px;
            color: #ffffff;
        }
        
        
        
        
        
        
        .footer-distributed form{
            display: inline-block;
        }
        
        .footer-distributed form input,
        .footer-distributed form textarea{
            display: block;
            border-radius: 3px;
            box-sizing: border-box;
            background-color:  #1f2022;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
            border: none;
            resize: none;
        
            font: inherit;
            font-size: 14px;
            font-weight: normal;
            color:  #d1d2d2;
        
            width: 350px;
            padding: 18px;
        }
        
        .footer-distributed ::-webkit-input-placeholder {
            color:  #5c666b;
        }
        
        .footer-distributed ::-moz-placeholder {
            color:  #5c666b;
            opacity: 1;
        }
        
        .footer-distributed :-ms-input-placeholder{
            color:  #5c666b;
        }
        
        
        .footer-distributed form input{
            margin-top: -45px;
           
            height: 55px;
            margin-bottom: 15px;
        }
        
        .footer-distributed form textarea{
            height: 100px;
            margin-bottom: 20px;
        }
        
        .footer-distributed form button{
           
            
            border-radius: 3px;
            background-color:  #33383b;
            color: #ffffff;
            border: 0;
            padding: 15px 50px;
            font-weight: bold;
            float: right;
        }
        
        .line8{
            margin-top: 100px;
           margin-bottom: -20px;
            width: 1103px;
            height: 10px;
            border-bottom: 1px solid #c1c1c1;
            opacity: 0.6;
            margin-left: 0px;
            
            }
        
            .footer-links a:hover {
               
                color: #3a6efd;
               font-size: 20px;
                background-color: transparent;
                
              }
        
              .line9{
               
                width: 1px;
                height: 270px;
                border-bottom: 1px solid #c1c1c1;
                border-left: 2px solid #c1c1c1;
                opacity: 0.6;
                
                
                }
        .flexible {
            display: flex;
            margin-top: 20px;
            width: 20vw;
            justify-content: space-between;
            margin-left: 0vw;
            align-items: center;
        }
        
        .flexible img {
            
            width:20%;
        }
        
        
         .logos img{
             
            margin-top: 10px;
             width:70%;
            
        }
        .logos1 img{
           
            
        
            width:55%;
           
          
        }
        .logos2 img{
            
        
             width:100%;
        }
        .logos3 img{
            
        
            width:60%;
           
          
        }
        
        .logos4 img{
            padding: 0px 0px 0px 0px;
        
            width:90%;
           
          
        }
        
        .cline34{
            
            margin-right: 10vw;
            margin-bottom: 20px;
            width: 80vw;
            height: 10px;
            border-bottom: 1px solid #c1c1c1;
            opacity: 0.6;
           
           
            }

























@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}








.titledisc1 {
    margin-top: 30px;
    
    font-size: 30px;
    color: #c1c1c1;
    text-decoration: underline;
    text-decoration-color:white;
}
.titledisc1:hover {
    color: #3a6efd;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color:#3a6efd;

}


.row{
   
    max-width: 80vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.card{
	margin-top: 10px;
	height: 320px;
	width: 15vw;
	position: relative;
	background-color: #ffffff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.card a{
	text-decoration: none;
	text-align: center;
}
.card:hover {
    height: 350px;
	width: 250px;

}

.photos{
	height: 170px;
}
.photos img{
    margin-left:0px ;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 30px;
}
.add{
	position: absolute;
	bottom: 0px;
	height: 20px;
	background-color: transparent;
	width: 101%;
    
	display: flex;
	justify-content: center;
	align-items: center;
}

.add button{
	height: 45px;
    border-radius: 0px 0px 8px 8px;
	background-color: grey;
	width: 100%;
}
.add button:hover{
	height: 45px;
	background-color: #3a6efd;
    color: white;
	width: 100%;
}

.column{
	display: table-cell;
}


.tes i {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.tes i:hover
{
       
        border: 20px;
        border-radius: 50px;
        transform: translateY(-10px);
        border: 0.2vw solid #c1c1c1;
       
    
}






